<article class="w-full h-[500px] overflow-hidden flex flex-col items-center justify-center relative md:px-20 xs:px-0">
   <header class="text-center absolute top-0 z-10">
      <span class="block font-bold sm:text-[55px] sm:leading-[63px] xxs:text-[36px] xs:text-[26px] ">I am <strong>Engineering Simulation Expert</strong></span>
      <span class="block font-bold sm:text-[55px] sm:leading-[63px] xxs:text-[36px] xs:text-[26px] ">Engineer who want become to <strong>Data Scientist</strong> </span>
      <span class="block font-bold sm:text-[55px] sm:leading-[63px] xxs:text-[36px] xs:text-[26px] ">Passionate in LLM Technologies.</span>
   </header>

   <div class="absolute bottom-20 flex space-x-4">
      <a href="https://github.com/getintheq" target="_blank" class="button-style">
         GitHub
      </a>
      <a href="https://www.linkedin.com/in/getintheq" target="_blank" class="button-style">
         LinkedIn
      </a>
      <a href="src/assets/Updated Resume - Khiw Nitithadachot.pdf" download class="button-style">
         Download CV
      </a>
   </div>
   
</article>
